.actions {
  width: 100%;
  position: absolute;
  bottom: 2em;

  .button {
    width: 30em;
    height: 4.5em;
  }

  .link {
    font-size: 18px;
    bottom: 1em;
  }
}

.transaction-modal {
  position: fixed;
  width: 32em;
  height: 37em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  background: #FFF;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  .link {
    margin-top: 10em;
  }
}

